cvzone
ultralytics>=8.0.100,<9
hydra-core
matplotlib
numpy
opencv-python-headless>=4.8,<5
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
filterpy
scikit-image
lap
flask_wtf
WTForms
Flask-WTF
flask
gunicorn
torch>=2.2,<3
